<div class="row">
  <div class="col-12">
    <button class="btn btn-primary mb-3 btn-sm" (click)="showDetailModal()">جدید</button>
  </div>
</div>
<p-dialog header="افزودن محصول جدید" [(visible)]="isShowDetailModal" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <div class="form-group">
    <label for="name" class="bold">نام محصول</label>
    <input type="text" class="form-control my-2" id="name" placeholder="نام محصول" [(ngModel)]="saveProductModel.title">
  </div>
  <div class="form-group">
    <label for="price" class="bold">قیمت</label>
    <input type="number" class="form-control my-2" id="price" [(ngModel)]="saveProductModel.price">
  </div>
  <button class="w-100 btn btn-primary" (click)="saveProduct()">ذخیره</button>
</p-dialog>
<p-toast />
